div.mdltxt_prev {

    width               :   30%;
    float               :   left;

}

div.mdltxt_next {

    width               :   30%;
    float               :   right;
    text-align          :   right;

}

div.mdltxt_half_centred {

    width               :   50%;
    margin              :   0 auto;

}


div.mdltxt_right {

    width               :   45%;
    float               :   right;
    margin-bottom       :   2em;

}

div.mdltxt_left {

    float               :   left;
    width               :   45%;
    margin-bottom       :   2em;

}

div.mdltxt_clearer {

    width               :   100%;
    clear               :   both;

}

div.rssitem {

    border              :   1px #000000 dashed;
    margin-bottom       :   2em;

}

h3.rssitem {

    margin-top          :   0;

}

p.rssbody {

    margin-left         :   1em;
    margin-right        :   1em;

}

table.mdltxt_resultlist {

    text-align          :   center;
    margin              :   0 auto;

}

table.mdltxt_fullwidth {

    width               :   100%;

}

table.mdltxt_halfwidth {

    width               :   50%;

}

table.mdltxt_resultlist th {

    border-bottom       :   1px dashed #000000;

}

.mdltxt_columnline {

    border-right        :   1px dashed #000000;

}

table.mdltxt_dynamictable {

    margin-top          :   1em;
    margin-bottom       :   1em;

}

table.mdltxt_dynamictable th {

    cursor              :   pointer;

}

table.mdltxt_dynamictable th div.sortIcon {

    margin              :   0 auto;
    width               :   21px;
    height              :   9px;
    background-repeat   :   no-repeat;
    background-position :   center left;

}

table.mdltxt_dynamictable th.header div.sortIcon {

    background-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/sort.gif);

}

table.mdltxt_dynamictable th.headerSortUp div.sortIcon {

    background-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/asc.gif);

}

table.mdltxt_dynamictable th.headerSortDown div.sortIcon {

    background-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/desc.gif);

}

table.mdltxt_dynamictable tr.even {

    background-color    :   #EEEEEE;

}

div.tablePager {

    float               :   right;
    width               :   40%;
    text-align          :   right;

}

label.mdltxt_align_form {

    float               :   left;
    width               :   45%;
    text-align          :   right;

}

input[type="submit"].align_form {

    margin-left         :   45%;

}

fieldset {
    border              :   1px #000000 solid;
    text-align          :   justify;
}

fieldset.mdltxt_userset {

    padding            :   5px 10px 10px 10px;

}

ul.mdltxt_inbox_folderlist,
ul.mdltxt_addressbook_list {

    margin-left         :   4em;
    padding             :   0;

}

ul.mdltxt_inbox_folderlist li,
ul.mdltxt_addressbook_list li {

    padding-left        :   5px;
    margin-left         :   5px;
    font-weight         :   bold;
    font-size           :   larger;

}

ul.mdltxt_inbox_folderlist li {

    list-style-type     :   disc;
    list-style-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/folder_open.gif);
    list-style-position :   outside;

}

ul.mdltxt_addressbook_list li {

    list-style-type     :   none;

}

ul.mdltxt_addressbook_list li.private {

    list-style-type     :   disc;
    list-style-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/icon_teacher.gif);
    list-style-position :   outside;

}

ul.mdltxt_addressbook_list li.global {

    list-style-type     :   disc;
    list-style-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/icon_group.gif);
    list-style-position :   outside;

}

/*
   ------------------------------------------------------------
   | Class definitions for user access admin page
   ------------------------------------------------------------
*/

div#mdltxt_usertree_loadingPanel,
div#mdltxt_usertree_categoryAccessPanel,
div#mdltxt_usertree_courseAccessPanel,
div#mdltxt_usertree_userAccessPanel {

    border              :   1px solid #000000;
    width               :   40%;
    float               :   right;
    display             :   none;

}

div#mdltxt_usertree_categoryAccessPanel,
div#mdltxt_usertree_courseAccessPanel,
div#mdltxt_usertree_userAccessPanel h3{

    margin-top          :   0px;

}

ul.mdltxt_usertree_category {

    margin-left         :   2em;
    padding             :   0;

}

ul.mdltxt_usertree_category li {

    padding-left        :   5px;
    margin-left         :   5px;
    font-weight         :   bold;
    font-size           :   medium;
    list-style-type     :   disc;
    list-style-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/icon_group.gif);
    list-style-position :   outside;

}

ul.mdltxt_usertree_category li ul {

    display             :   none;

}

ul.mdltxt_usertree_course li {

    list-style-type     :   disc;
    list-style-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/icon_teacher.gif);
    list-style-position :   outside;
    font-weight         :   normal;
    font-size           :   small;

}

ul.mdltxt_usertree_course li.mdltxt_usertree_admin {

    list-style-type     :   disc;
    list-style-image    :   url(<?php echo($CFG->wwwroot); ?>/blocks/moodletxt/pix/icon_admin.gif);
    list-style-position :   outside;
    font-weight         :   bold;

}

ul.mdltxt_usertree_category li.mdltxt_usertree_norecords {

    list-style-type     :   disc;
    list-style-image    :   none;
    list-style-position :   outside;
    font-weight         :   normal;
    font-size           :   small;

}

img.mdltxt_usertree_expand {

    cursor              :   pointer;
    cursor              :   hand; /*Ruddy IE*/
    border              :   0;

}

/*
   ------------------------------------------------------------
   | Class definitions for send-message AJAX UI
   ------------------------------------------------------------
*/

p.prevNext {
    position            :   absolute;
    width               :   100%;
    text-align          :   justify;
    font-size           :   large;
    font-weight         :   bold;
    bottom              :   0;
    left                :   0;
}

p.prevNext span.jFlowNext {
    margin              :   0;
    text-align          :   right;
    float               :   right;
    width               :   20%;
}

p.prevNext span.jFlowPrev,
p.prevNext span.jFlowNext{
    cursor              :   pointer;
    cursor              :   hand;
}

#jFlowSlide{
    margin              :   0 auto;
}

.slide {
    height              :   530px;
    text-align          :   center;
    position            :   relative;
    border              :   1px #000000 solid;
    margin-left         :   1px; /* Bugfix - Prevents next slide being slightly visible */
    position            :   relative;
}

div.slide fieldset {
    max-width           :   600px;
    margin-left         :   auto;
    margin-right        :   auto;
}

ul#tabs-nav {
    width               :   50%;
    padding             :   0;
    margin-top          :   0;
    margin-bottom       :   1em;
    margin-left         :   auto;
    margin-right        :   auto;
}

ul#tabs-nav li {
    list-style          :   none;
    margin-left         :   0;
    margin-right        :   0;
    padding-left        :   10px;
    padding-right       :   10px;
    border-right        :   1px dashed #000000;
    border-left         :   1px dashed #000000;
    cursor              :   pointer;
    cursor              :   hand;
    color               :   #000000;
    background-color    :   #FFFFFF;
}

ul#tabs-nav li.selected {
    font-weight         :   bold;
    color               :   #FFFFFF;
    background-color    :   #000000;
}

select.sourceBox {
    width               :   100%;
}

div.sendtab {
    clear               :   both;
}

div#leftPane {
    width               :   35%;
    float               :   left;
}

div#centrePane {
    width               :   25%;
    float               :   left;
    margin              :   0 auto;
    text-align          :   center;
    padding-top         :   4em;
}

div#rightPane {
    float               :   right;
    width               :   35%;
}

option.mdltxt_opt_user {
    background-color    :   #6DD95F;
}

option.mdltxt_opt_userGroup {
    background-color    :   #37A828;
}

option.mdltxt_opt_abContact {
    background-color    :   #91C8ED;
}

option.mdltxt_opt_abGroup {
    background-color    :   #389CDE;
}

option.mdltxt_opt_add {
    background-color    :   #FFFFFF;
}

select#finalRecipients {
    width               :   100%;
}

input.submit {
    background-color    :   transparent;
    font-weight         :   bold;
    border              :   1px #000000 solid;
}

/*
 * NAVIGATOR STYLING
 */

#navWrapper {
    width               :   90%;
    margin              :   0 auto;
    clear               :   both;
}

ul#navigator {
    clear               :   both;
    color               :   #000000;
    background-color    :   #FFFFFF;
    width               :   100%;
    margin              :   0;
    padding             :   0;
    text-align          :   center;
}

#navigator li{
    margin              :   0;
    display             :   inline;
    height              :   30px;
    padding             :   5px 5px 0 5px;
    list-style          :   none;
    text-align          :   center;
    cursor              :   pointer;
    cursor              :   hand;
    color               :   #000000;
    background-color    :   #FFFFFF;
    border              :   1px #000000 solid;
}

#navigator li.menuCurrent {
    color               :   #FFFFFF;
    background-color    :   #000000;
}

#navigator li.done{
    background-color    :   #00D8FF;
}