/* Core */

body {
    margin: 5px;
}


h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  text-align: left;
  padding-left: 5px;
} 

h1, h2, h3, h4 {
  text-align: left;
  padding-left: 5px;
}
  
h1, h2, h3 {
  border-width: 0px;
  border-style: solid; 
}

h4 {
  border-bottom-style: solid;
  border-bottom-width:1px; 
}

.fronthead {
  font-size:1.3em;
  letter-spacing:0.04em;
}

.fronttext {
  margin-top:5px;
  margin-left:20px;
  margin-right:10px;
  margin-bottom:20px;
}

div.frontblock {
  margin-top: 12px;
  margin-bottom: 25px;
  border: #DDD solid 1px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
  font-size: 0.95em;
}

h1.frontblock {
  border: #DDD solid 1px;
  background-image: url(gradient.jpg);  
  background-position: top;  
  background-repeat: repeat-x;  
  padding: 1px 10px;
  display: inline;
  position: relative;
  top: -0.5em;
  left: 8px;
  font-weight: normal;
}

p.fronttext.p1 {
  min-height: 90px;
}
p.fronttext.p2 {
  min-height: 90px;
}
p.fronttext.p3 {
  min-height: 125px;
}
p.fronttext.p4 {
  min-height: 105px;
}

input {
  
}

.generalbox {
  border-width:1px; 
  border-style:solid;
}

.sitetopiccontent {
  border-width:1px;
  border-style:solid;
}

/***
 *** Header
 ***/

#header-home {
  /* padding:1em 0.5em; */
  height:100px;
  border-width:1px;
  border-style:solid;
  
}

#header {
  height:55px;
  border-width:1px;
  border-style:solid;
}

.headermenu {
  height:55px;
  float:right;
  text-align:right;
  /* Change this url to add an image to the top right for a theme 
  background-image: url(x.gif); */
}

.navbar {
  margin-right: 5px;
  width: 100%; 
  padding:0px;
  height: 25px;
  border-width:1px;
  border-style:solid;
}

.accessibility {
  background-color: #D2EFFF;
  font-weight: bold;
  width: 250px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  align: right;
  opactity: .80;
  filter:alpha(opacity=80);
  -moz-opacity:.80;
  top: 50px;
  right: 50px;
  text-decoration: none;
  display: none;
}

.accessibilityshadow {
  background-color: #000000;
  width: 250px;
  height: 100px;
  position: absolute;
  align: right;
  opactity: .20;
  filter:alpha(opacity=20);
  -moz-opacity:.20;
  top: 55px;
  right: 45px;
  display: none;
}

.accessibilitycloseX {
  position:absolute;
  right:10px;
}

.breadcrumb {
 padding-top: 6px;
 padding-left: 5px;
 }
 
.navbar .navbutton {
  padding-right: 3px;
  padding-top: 2px;
 }


/***
 *** Login
 ***/

TABLE.loginbox {
  margin-top: 20px;
  }

.loginbox .header {
  border-width:1px;
  border-style:solid;
  border-bottom-width: 0px;
}

.loginbox .content {
  border-top-width: 0px;
}


/***
 *** Footer
 ***/

#footer {
  text-align:left;
  margin-top: 5px;
}


/***
 *** Blocks
 ***/


.sideblock .footer {
  border-top-width:1px;
  border-top-style:dashed;
}

a.skip-block, .skip-block {
  display:block;
  width:2em; 
  height:1px;
}
.sideblock .skip-block {
  height:4px;
}
.skip-block-to {
  font-size:1px;
}
  

/***
 *** Calendar
 ***/
 
 table.minicalendar {
  width: 100%;
  margin:10px auto;
  padding:2px;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  border-spacing:1px !important;
}

table.minicalendar tr.weekdays th {
   border-style: none;
}

table.minicalendar tr td.day {
  border-style: solid;
  border-width: 1px;
}

table.calendarmonth {
  border-collapse:separate;
  border-spacing:1px !important;
}

table.calendarmonth tr td  {
  border-style: solid;
  border-width: 1px;
}


/***
 *** Course
 ***/
 
.headingblock {
  border-width:1px;
  border-style:solid;
  padding:5px;
  background-image: url(pix/grad/center_header_gradiant.jpg);
}


.categorybox .category,
.categorybox .category {
  border-bottom: solid;
  border-width: 1px;
  padding-top: 7px;
}

#course-view .section .left {
  border-right-width: 1px;
  border-right-style: dashed;
}

#course-view .section.hidden .content,
#course-view .section.hidden .side {
  border-width: 1px;
  border-style: dashed;
}

